.container
{
	background-color: #EEE;
	width: 70%;
	height: 100%;
	margin: 0px auto;
	font-family: "Segoe UI", sans-serif;
}

.conteudo
{
	text-indent: 40px;
}

.bio
{
	margin-top: 100px
}

.texto
{
	font-size: 18px;
	padding-left: 60px;
	padding-right: 60px;
	text-align: justify;
	margin: 25px auto;
}

.titulo
{
	margin: 50px auto;
	font-family: "Segoe UI semibold";
	letter-spacing: 3px;
	color: #26B;
	font-size: 24px;
}

hr
{
	width: 50%;
	border: 0;
	border-top: 1px solid #26B;
	margin: 50px auto;
}

.header
{
	text-align: center;
	background: #B4D1F3;
}

.active
{
	background: #039;
}

.inner {
	font-family: 'Segoe UI semibold', sans-serif;
}

.subMenu {
	position: absolute;
	height: 65px;
	z-index: 1000;
	width: auto;
	max-width: 1330px;
	background: #26B;
}

.center
{
	text-align: center;
}

.subNavBtn {
	display: block;
	height: 50px;
	width: 21%;
	float: left;
	text-decoration: none;
	font-size: 24px;
	padding: 15px 2% 0 2%;
	text-align: center;
	color: #fff;
}

.portfolio-item
{
	display: inline-block;
	text-align: center;
	overflow: hidden;
	width: 100%;
	margin: 30px 0px;
}

.portfolio-texto, .portfolio-imagem
{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

.float-right
{
	position: relative;
	float: right;
}

.float-left
{
	position: relative;
	float: left;
}